@use './variables' as vars;


.imageWrapper {
  position: relative;
  width: 90vw;
  height: 60vw;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: border-color 0.2s ease;
}
// .card {
//   border: 2px solid transparent;
//   border-radius: 12px;
//   transition: border-color 0.2s ease;
// }
.active {
  border-color: vars.$Red; 
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.activeBorder{
    border: 2px solid vars.$Red;
    background-color: black;
    
}
.name{
  font-family: 'RedhatBold';
  color: vars.$Rose_900;
  font-size: clamp(0.8rem, 1vw, 0.8rem);
}

.cat{
  font-family: 'RedhatReg';
  color: vars.$Rose_500;
  margin-top: 5px;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}
.price{
  font-family: 'RedhatMed';
  color: vars.$Red;
  margin-top: 5px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.textWrapper {
  margin-top: 2rem;
  p{
    margin: 0;
  }
}
.btnWrapper {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%) ;
  display: flex;
  justify-content: center;
  width: max-content;
  scale: 1.2;
}

.cartButton {
  width: 190px;
  background-color: vars.$Rose_50;
  border: 2px solid vars.$Rose_400;
  padding: 10px 30px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  scale:0.72;
  cursor: pointer;
  img{
    margin-right: 10px;
  }
}

.cartButton__active {
  width: 190px;
  background-color: vars.$Red;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scale:0.72;
}
.decreaseBtn, .increaseBtn {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;;
  cursor: pointer;
  border:1px solid white;
  border-radius: 50%;
}
.count {
  color: white;
  font-size: calc(0.8rem + 0.5vw);
}

@media (min-width: 768px) {
  .imageWrapper {
    width: 40vw;
    height: 40vw;
  }
  .btnWrapper {
    scale: 1;
  }
}

@media (min-width: 1024px) {
  .imageWrapper {
    width: 15vw;
    height: 15vw;
  }
  .btnWrapper {
    scale: 1;
      transform: translateX(-50%) ;

  }
}
